.footer {
    width: 100%;
    background: #2feb25;
    ;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    /* border-radius: 12px 12px 0 0; */
    font-size: 1rem;
    letter-spacing: 1px; }